# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- unordered list
- ordered list
- List popular languages for Data Science
- List popular libraries used by Data Science
- popular Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-Learn
4. Plotly

|Data Science Tools|
|------|
|Apache Hadoop|
|R|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
## This will convert 200 minutes to hours by diving by 60
min = 600
hor = min / 60
print(min, "minutos son", hor, " horas")

600 minutos son 10.0  horas

## Author
Juan Pablo Villegas Ruiz